# Ignore project-specific local files and dirs
.gradle
/.idea
gradle.properties

# But we need these
!/.idea/runConfigurations/
!/.idea/scopes
!/.idea/copyright
/bin
/jre

# Ignore Gradle build output directory
build
