# Ignore project-specific local files and dirs
.gradle
/.idea
gradle.properties
.kotlin

# But we need these
!/.idea/runConfigurations/
!/.idea/scopes
!/.idea/copyright
/bin
/jre
/electron

# Ignore Gradle build output directory
build
