name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build with Gradle
      run: ./gradlew lintKotlin shadowJar

    - name: Get Commit Count
      if: ${{ github.event_name == 'push' }}
      id: commit_count
      run: echo "count=$(git rev-list --count HEAD)" >> $GITHUB_OUTPUT

    - name: Upload Release
      uses: softprops/action-gh-release@v2
      if: ${{ github.event_name == 'push' }}
      with:
        tag_name:  ${{ steps.commit_count.outputs.count }}
        files: build/*.jar
